@import 'colors';
@import 'typography';

body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
